<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Lefofied Image, Lego, Lego Mosaic, Lego Picture" />
    <meta name="description" content="Converts images to mosaics made from Lego pieces." />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.webp') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>