{% extends 'base.html' %}

{% block head %}
<title>Lego Image Converter</title>
{% endblock %}


{% block body %}
<div class="content">
    <div class="header">
        <h1 class="name">LEGO IMAGE CONVERTER</h1>
    </div>
    <h2 style="text-align: center">Upload an image to convert it to a Lego mosaic</h2>
    <div class="main">
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/legofied/legofied-mustafar.png') }}" \
            alt="Mustafar" class="legofied-image">
            <img src="{{ url_for('static', filename='images/legofied/legofied-reputation.png') }}" \
            alt="Reputation" class="legofied-image">
        </div>
        <div class="central">
            {% if image_data %}
            <img src="data:image/png;base64,{{image_data}}" \
            alt="Legofied Image" class="legofied-image">
            {% else %}
            <p class="text">
                Your Legofied Image Here
            </p>
            {% endif %}
            <br>
            <div class="submission">
                <form style="text-align: center;" action="/" method="POST" enctype="multipart/form-data">
                    <label for="input_image">Upload an image:</label>
                    <input type="file" name="input_image" id="input_image" accept="image/*">
                    <br><br>
                    <label for="length">Length of Lego Mosaic:</label>
                    <input type="range" min="1" max="160" value="80" class="slider" id="length" name="length">
                    <span id="length-value">80</span>
                    <input type="submit" class=submit value="Convert">
                </form>
            </div>
        </div>
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/legofied/legofied-spiderman.png') }}" \
            alt="Spiderman" class="legofied-image">
            <img src="{{ url_for('static', filename='images/legofied/legofied-pokemon-starters-gen4.png') }}" \
            alt="Pokemon Starters Gen 4" class="legofied-image">
        </div>
    </div>
</div>
<script>
    const slider = document.getElementById('length');
    const sliderValue = document.getElementById('length-value');
    sliderValue.textContent = slider.value;
    slider.oninput = function() {
        sliderValue.textContent = this.value;
    };
</script>
{% endblock %}