{% extends 'base.html' %}

{% block head %}
<title>Lego Image Converter</title>
{% endblock %}


{% block body %}
<div class="content">
    <header>
        <h1 class="name">LEGO IMAGE CONVERTER</h1>
        <div class="about">
            <a href="https://github.com/KingTingTheGreat/ImageToLego" target="_blank">About</a>
        </div>
    </header>
    <div class="label">
        <h2>Upload an image to convert it to a Lego mosaic</h2>
    </div>
    <div class="main">
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/legofied/legofied-mustafar.webp') }}" alt="Mustafar"
                class="legofied-image">
            <img src="{{ url_for('static', filename='images/legofied/legofied-reputation.webp') }}" alt="Reputation"
                class="legofied-image">
        </div>
        <div class="central">
            {% if image_data %}
            <img src="data:image/webp;base64,{{image_data}}" \ alt="Legofied Image" class="display-image"
                id="display-image">
            <button onclick="rotateImage()">Rotate 90°</button>
            <a href="{{ url_for('download_parts_list') }}">
                <button>Download Parts list</button>
            </a>
            {% else %}
            <p class="text">
                Your Legofied Image Here
            </p>
            {% endif %}
            <br>
            <div class="submission">
                <form style="text-align: center;" action="/" method="POST" enctype="multipart/form-data">
                    <label for="input_image">Upload an image:</label>
                    <input type="file" name="input_image" id="input_image" accept="image/*">
                    <br><br>
                    <label for="length">Length of Lego Mosaic:</label>
                    <input type="range" min="1" max="160" value="80" class="slider" id="length" name="length">
                    <span id="length-value">80</span>
                    <input type="submit" class=submit value="Convert">
                </form>
            </div>
        </div>
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/legofied/legofied-spiderman.webp') }}" alt="Spiderman"
                class="legofied-image">
            <img src="{{ url_for('static', filename='images/legofied/legofied-pokemon-starters-gen4.webp') }}"
                alt="Pokemon Starters Gen 4" class="legofied-image">
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
{% endblock %}