<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="Lefofied Image, Lego, Lego Mosaic, Lego Picture" />
		<meta name="description" content="Converts images to mosaics made from Lego pieces." />
		<link rel="icon" href="{{ url_for('static', filename='images/icon.jpg') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
	<footer>
		<p>Created by <a href="github.com/KingTingTheGreat">Jeffrey Ting</a></p>
		<p>Connect with me on <a href="https://www.linkedin.com/in/jeffrey-ting-08b606253/">LinkedIn here</a>.</p>
	</footer>
</html>
